/* src/components/Education.css */

.education-container {
    background-color: #1e1e1e; /* VS Code dark background */
    color: #d4d4d4; /* VS Code foreground text color */
    font-family: 'JetBrains Mono', monospace; /* Monospace font for code-like appearance */
    padding: 20px;
    height: 95vh;
    border-bottom:  1px solid hsl(220, 13%, 25.1%);
  }
  
  .section-title {
    color: #42a5f5;  /* VS Code blue for section titles */
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3c3c3c;
    padding-bottom: 5px;
  }
  
  .education-item {
    margin-bottom: 20px;
  }
  
  .degree {
    color: #ffca28; /* VS Code yellow for degree titles */
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .institution {
    font-size: 16px;
    color: #42a5f5;  /* VS Code light blue for institution names */
    margin-bottom: 3px;
  }
  
  .duration {
    font-size: 14px;
    color: #ce9178; /* VS Code orange for durations */
    margin-bottom: 10px;
  }
  
  .details {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .details li {
    margin-bottom: 5px;
  }
  