/* Tailwind CSS reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* Check if any absolute or fixed-positioned elements are off-screen */
* {
  position: relative;
}

body {
  @apply bg-[#333333] text-gray-200 font-sans;
  position: relative; /* Ensures body is contained properly */

}
.viewport{
  
  margin-left: 4vw;
  width: 96vw;
}
.scroll-y-vs-code{
  /* height: fit-content!important;  */
  /* min-height: 100% !important; */
  height: 95vh!important; 
  /* overflow-y: scroll; */
  border-bottom:  1px solid hsl(220, 13%, 25.1%);

}
@media (max-width: 1024px) {
  .viewport{
    margin-left: 6vw;
    width: 94vw;
  }
}

@media (max-width: 768px) {
  .viewport{

    margin-left: 0;
    position: fixed;
    top: 8vh;
    width: 100vw;
  }
  .section-name {
    height: 92vh !important;
    scroll-snap-align: none !important; 
  }

  .section {
    height: fit-content !important;
    min-height: 92vh !important; /* Each section occupies full screen height */
    width: 100vw !important;
    /* overflow-y: scroll; */
    scroll-snap-align: none !important; 
  }
  .section-without-height{
    scroll-snap-align: none !important; 

  }
  .scroll-y-vs-code{
        min-height: 95vh!important; 
        height: fit-content !important;
        border-bottom:  1px solid hsl(220, 13%, 25.1%);

  }
  .scroll{
     overflow-y: scroll;
  }
}

/* Parent container: Full-page scrolling */
.scroll-container {
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; /* Smooth scrolling */

}

/* Section styles */
.section {

  height: 100vh; /* Each section occupies full screen height */
  
  scroll-snap-align: start; 
}
.section-name {
  height: 100vh; /* Each section occupies full screen height */
  
  scroll-snap-align: start; 
}
.section-without-height{
  /* min-height: 100vh; */
  scroll-snap-align: start; 
}