.timeline-container {
  min-height: 100%; 
  width: 100%;
  width: 100% !important;
  /* max-width: 100%!important; 
  max-height: 100vh !important; */
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .timeline-container {
    width: 100vw;
  }
 
}
@media (max-width:1169px) {
  .vertical-timeline-element-content {
    margin-left: 80px !important;
  }
  .vertical-timeline-element-icon {
  
    left: 20px !important;
  }
  .vertical-timeline-element-title {
    margin-left: 20px;
  }
}


.vertical-timeline {
  padding: 10px !important;
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 1em !important;
  padding-left: 2em ;
  padding-right: 2em; 
  /* height: 100% !important;
  width: 100% !important; */
min-width: 100%;
min-height: 100vh; 

   /* padding: 0 !important;
  margin: 0 !important; */
}

.vertical-timeline-element-title {
  color: #c5c5c5;
}

.vertical-timeline-element-subtitle {
  color: #7f7f7f;
}

.vertical-timeline-element-content {
  background-color: #2d2d2d;
  color: #d4d4d4;
}

.vertical-timeline-element-content-arrow {
  border-right: 10px solid #2d2d2d;
}
