/* Sidebar.css */

.sidebar {
  background-color: #2f2f2f;
  color: #fff;
  width: 4em; /* Fixed width for sidebar */
  height: 100vh; /* Full screen height */
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between; /* Align content vertically */
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1.5em; /* Space between each icon */
  
}

.link {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Align icons vertically */
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-size: 24px; /* Adjust icon size */
}

.link:hover {
  color: #42a5f5; /* Blue hover color */
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em; /* Set a fixed square size for icons */
  height: 2em; /* Match height and width */
}
